body{
    margin: 0;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
h2{
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: aliceblue;
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: .8;
}
.clock #ampm{ 
    width: 60px;
    height: 30px;  
    background: rgba(47, 141, 3, 0.788);
    font-size: 20px;
  
 
}
